Repository chris-spann/nba-bets: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-backend, check-lint-frontend, check-yaml

format-backend:
  name: Format Backend Code (Ruff)
  entry: make format-backend
  language: system
  pass_filenames: false

check-lint-frontend:
  name: Frontend Linting & Type Checking
  entry: make check-lint-frontend
  language: system
  pass_filenames: false

check-yaml:
  name: Check YAML files
  entry: make check-yaml
  language: system
  pass_filenames: false

chore: update docs
  README.md
  docs/CODEOWNERS
  docs/WARP.md
  frontend/README.md
Due: none

feat: addbet
  backend/alembic/versions/20250108_rename_prop_description_to_description.py
  backend/app/models/bet.py
  backend/app/routers/bets.py
  backend/scripts/seed_data.py
  backend/tests/conftest.py
  backend/tests/test_api.py
  backend/tests/test_description_recalculation.py
  backend/tests/test_models.py
  backend/tests/test_unified_api.py
  frontend/index.html
  frontend/src/App.css
  frontend/src/App.tsx
  frontend/src/components/BetModal.test.tsx
  frontend/src/components/BetModal.tsx
  frontend/src/components/DeleteConfirmationModal.tsx
  frontend/src/components/Layout.test.tsx
  frontend/src/components/Layout.tsx
  frontend/src/integration/bet-workflow.integration.test.tsx
  frontend/src/lib/api.test.ts
  frontend/src/lib/api.ts
  frontend/src/pages/AddBet.test.tsx
  frontend/src/pages/AddBet.tsx
  frontend/src/pages/Dashboard.test.tsx
  frontend/src/pages/Dashboard.tsx
  frontend/src/pages/PropBets.test.tsx
  frontend/src/pages/PropBets.tsx
  frontend/src/setupTests.ts
  frontend/vite.config.ts
Due: format-backend, check-lint-frontend

feat: fix test
  backend/app/routers/bets.py
Due: format-backend

feat: fix migration
  backend/alembic/versions/013bb0e20ef8_unify_player_and_team_bets_into_single_.py
  backend/alembic/versions/20250108_rename_prop_description_to_description.py
Due: format-backend

feat: fix tests locally
  Makefile
  frontend/package-lock.json
  frontend/package.json
  frontend/src/setupTests.ts
  frontend/vite.config.ts
Due: check-lint-frontend

feat: addbet (#14)
  Makefile
  backend/alembic/versions/013bb0e20ef8_unify_player_and_team_bets_into_single_.py
  backend/alembic/versions/20250108_rename_prop_description_to_description.py
  backend/app/models/bet.py
  backend/app/routers/bets.py
  backend/scripts/seed_data.py
  backend/tests/conftest.py
  backend/tests/test_api.py
  backend/tests/test_description_recalculation.py
  backend/tests/test_models.py
  backend/tests/test_unified_api.py
  frontend/index.html
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.css
  frontend/src/App.tsx
  frontend/src/components/BetModal.test.tsx
  frontend/src/components/BetModal.tsx
  frontend/src/components/DeleteConfirmationModal.tsx
  frontend/src/components/Layout.test.tsx
  frontend/src/components/Layout.tsx
  frontend/src/integration/bet-workflow.integration.test.tsx
  frontend/src/lib/api.test.ts
  frontend/src/lib/api.ts
  frontend/src/pages/AddBet.test.tsx
  frontend/src/pages/AddBet.tsx
  frontend/src/pages/Dashboard.test.tsx
  frontend/src/pages/Dashboard.tsx
  frontend/src/pages/PropBets.test.tsx
  frontend/src/pages/PropBets.tsx
  frontend/src/setupTests.ts
  frontend/vite.config.ts
Due: format-backend, check-lint-frontend

Path conditions:
  format-backend: any of: ^backend/.*\.py$
  check-lint-frontend: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  check-yaml: any of: ^.*\.ya?ml$
